<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link type ="text/css" rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Pitchfork Scraper</title>
</head>
<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h2 class="margin">Pitchfork Scraper</h3>
  <img src="./images/pitchforklogo.jpg" class="img-responsive img-circle margin" style="display:inline" alt="pitchfork-logo" width="350" height="350">
  <h3>Bringing you the latest news in music. Press the Scrape button to get started!</h3>
  <br>
<a href="/scrape" class="btn btn-primary btn-lg" role="button">Scrape</a>

</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
</footer>

</body>
</html>
