  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #717EC3;
      color: #ffffff;
  }
  #articles { 
    background-color: #717EC3;
    color: #ffffff;
}

  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

  .btn {
      background-color: #EC433D;
      width: 200px;
      height: 60px;
  }

  .btn:hover { 
    background-color: #EC433D;
}

.btn:active { 
    background-color: #EC433D;
}